:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --title-fon-color: #F5F5F5;
    --button-color: #F5F4FA;
    --primary-bg-color: #2F303A;
    --secondary-bg-color: #188CE8;
    --border-color-one: #ECECEC;
    --border-color-two: #EEEEEE;
    --border-color-three: #AFB1B8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul, ol {
    margin: 0px;
    padding-left: 0px;
}

button {
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
    }

/*--------HEADER--------*/

.header {
    border-bottom: 1px solid var(--border-color-one);
}

header .container {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-text-color);
    display: block;
    margin-right: 93px;
}

span.web {
    color: var(--accent-color);
}

.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-list:hover .contacts-icon {
    fill: var(--accent-color);
}

.header-link {
    font-weight: 500;
    line-height: 1.14;
    color: var(--primary-text-color);
    padding: 32px 0px;
}

.header-list>li:not(:last-child) {
    margin-right: 50px;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.current-link {
    color: var(--accent-color);
}

.header-contacts {
    display: flex;
    margin-left: auto;
}


.header-contacts>li:not(:last-child) {
    margin-right: 50px;
}

.header-mail {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    padding: 32px 0px;
    display: flex;
    align-items: center;
}

.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color);
}

.header-tel {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    padding: 32px 0px;
    display: flex;
    align-items: center;
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

.contacts-icon {
    margin-right: 10px;
    fill: var(--title-text-color);
}

/*--------MAIN-HERO--------*/

.hero {
    padding: 200px 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imgages/hero-bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    max-width: 696px;
    margin: auto;
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background: var(--accent-color);  
    border: none;
    min-width: 216px;
    height: 50px;
    border-radius: 4px;
    display: block;
    margin: 30px auto 0px;
}

.hero-btn:hover,
.hero-btn:focus {
    color: var(--primary-white-color);
    background-color: var(--secondary-bg-color);
}

/*--------MAIN-ITEMS--------*/

.items {
    padding: 94px 0px;
}

.invisible-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.items-list {
    display: flex;
}

.items-list>li:not(:last-child) {
    margin-right: 30px;
}

.items-item {
    width: 100%;
}

.items-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-color);
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.items-pre-title {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.items-text {
    color: var(--title-text-color);
}

/*--------MAIN-OUR-WORK--------*/

.our-work {
    padding-bottom: 94px;
}

.our-work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.our-work-list {
    display: flex;
}

.our-work-list>li:not(:last-child) {
    margin-right: 30px;
}

/*--------MAIN-TEAM--------*/

.team {
    background-color: var(--button-color);
    padding: 94px 0px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-list>li:not(:last-child) {
    margin-right: 30px;
}

.team-pre-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--primary-text-color);
    margin-top: 30px;
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color);
    margin-top: 10px;
    margin-bottom: 16px;
}

.team-item {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-links {
    margin-bottom: 30px;
}

.team-links-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--border-color-three);
    border-radius: 50%;
}

.team-links-item {
    width: 44px;
    height: 44px;
}

.team-links-item:not(:last-child) {
    margin-right: 10px;
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
}

/*--------CLIENTS--------*/

.clients {
    padding: 94px 0px;
}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    background-color: var(--primary-white-color);
}

.clients-items {
    width: 170px;
    height: 92px;
}

.clients-group-logo {
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--border-color-three);
    border: 1px solid var(--border-color-three);
    border-radius: 4px;
}

.clients-group-logo:hover,
.clients-group-logo:focus {
    border-color: var(--accent-color);
}

.clients-group-logo:hover .clients-icon,
.clients-group-logo:focus .clients-icon {
    fill: var(--accent-color);
}

.clients-items:not(:last-child) {
    margin-right: 30px;
}

/*--------PORTFOLIO--------*/

.portfolio {
    padding: 94px 0px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-list>li:not(:last-child) {
    margin-right: 8px;
}

.portfolio-cases {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
}

.portfolio-cases > .portfolio-item-list {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.card-content {
    padding: 20px 24px;
    border: 1px solid var(--border-color-two);
    border-top: 0;
}

.portfolio-card {
    display: block;
}

.portfolio-card:hover,
.portfolio-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--button-color);
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.portfolio-item-after-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--title-text-color);
    margin-top: 4px;
}

/*--------FOOTER--------*/

footer {
    background: var(--primary-bg-color);
    padding: 60px 0px;
    display: flex;
}

footer .container {
    display: flex;
    align-items: baseline;
}

.footer-contacts {
    display: inline-block;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
}

span.web {
    color: var(--accent-color);
}

span.studio {
    color: var(--primary-white-color);
}

.footer-address {
    margin-top: 20px;
}

.contacts-items {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}

.footer-address>li:not(:first-child) {
    margin-top: 9px;
}

.contacts-items:hover,
.contacts-items:focus {
    color: var(--primary-white-color);
}

.footer-pre-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}

.footer-soc-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icons {
    display: inline-block;
    margin-left: 70px;
}

.footer-links-item {
    width: 44px;
    height: 44px;
}

.footer-links-item:not(:last-child) {
    margin-right: 10px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primary-white-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    fill-opacity: var(--primary-white-color);
    background-color: var(--accent-color);
}

.footer-soc-icon {
    fill: var(--primary-white-color);
}